main {
    padding: .5em;
}

body {
    background-color: black;
    color: white;
    font-family: "Georgia", sans-serif;
    font-size: 1.2em;
    padding: .5em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

h1 {
    text-align: center;
    font-family: "Impact", sans-serif;
    font-size: 3em;
    height: 5%;
}

/* Container holding the image and the text */
.container > #mission {
    position: relative;
    color: black;
    font-size: 1.5em;
}

.container {
    /*background-color: #2f2f2f;*/
}

.container > h1 {
    background-color: goldenrod;
    color: black;
}

/* Top left text */
.mission-text {
    position: absolute;
    top: 8px;
    left: 16px;
}

#address {
    font-family: "Georgia", sans-serif;
    font-size: 1.5em;
}

a:link {
    color: white;
}

a:hover {
    color: goldenrod;
}

#url {
    text-align: center;
    color: goldenrod;
    font-size: 2em;
}

.mission {
    background-color: #2f2f2f;
}

#vision > h1 {
    background-color: goldenrod;
    color: black;
}

#vision > img {
    width: 100%;
}

#cc_listing {
    background-color: darkgrey;
    color: black;
    padding: 0.5em;
}

.flex-container {
    display: flex;
    color: goldenrod;
    justify-content: space-evenly;
}

.flex-item {
    background-color: black;
    border: 7px solid darkgrey;
    font-family: "Copperplate", sans-serif;
    font-size: 1.7em;
    font-weight: lighter;
    text-align: center;

}

#certs > img {
    width: 100%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.8em;
    height: 5%;
    padding-bottom: 0.5%;
}
